{{ define "main" }}
{{ partial "projectintro" (dict "introContent" .Site.Data._seedandsoil.intro_content "ctx" .) }}
{{ partial "problem" (dict "content" .Site.Data._seedandsoil.problem) }}
{{ partial "goalsprocess" (dict "goals" .Site.Data._seedandsoil.goals "process" .Site.Data._seedandsoil.process) }}
{{ partialCached "research" (dict "research" .Site.Data._seedandsoil.research) }}
{{ partialCached "userresearch" (dict "userResearch" .Site.Data._seedandsoil.userResearch) }}
{{ partialCached "insights" . }}
{{ partialCached "personas" . }}
{{ partialCached "defining" . }}
{{ partialCached "userstories" . }}
{{ partialCached "lowfidelityprototype" . }}
{{ partialCached "redroutes" . }}
{{ partialCached "highfidelityprototype" . }}
{{ partialCached "search" . }}
{{ partialCached "wireflows" . }}
{{ partialCached "styleguide" . }}
{{ partialCached "hifitestresults" . }}
{{ partialCached "reflection" . }}
{{ end }}