<div class="section-container light-grey-background">
    <p class="section-header">Defining</p>
    <div style="display:flex; flex-direction:row">
        <div style="width: 80%; margin: 3% 8% 2% 2%">Once I created the personas and empathy maps, I used them as a guide to create “How Might We” statements.
            This led to 4 important aspects that the product needed to address.</div>
        <div>
            <p class="grey-text"><span class="green-text">How might we</span> motivate full-time workers to make time for gardening?</p>
            <p class="grey-text"><span class="green-text">How might we</span> make gardening information more accessible and digestible for novice gardeners?</p>
            <p class="grey-text"><span class="green-text">How might we</span> give experienced gardeners more resources and information they could use?</p>
            <p class="grey-text"><span class="green-text">How might we</span> help users find the right physical gardening tools at the best possible prices? </p>
        </div>
    </div>
</div>