<div class="section-container light-grey-background">
    <p class="section-header">Insights</p>
    <div style="width: 85%; align-self:center">I started this project on the basis that gardening could help cut the cost of grocery bills, but I quickly
        found a wealth of reasons why people want to garden. From the interviews, I gathered 3 valuable insights
        that could help shape the future of this project. </div>
    <div>
        <p class="insights">The sources interviewees used for gathering data were consistent with quantitative research.
            However, <span class="green-text">apps were considered too cumbersome or not used at all.</span> </p>
        <p class="insights">All participants shared a <span class="green-text">feeling of nostalgia</span> associated with gardening with a relative,
            such as a parent or grandparent.</p>
        <p class="insights">The younger demographic encounters <span class="green-text">more obstacles</span> to gardening. </p>
    </div>
</div>