<div class="section-container">
    <p class="section-header">Reflection & Next Steps</p>

    <p style="margin-bottom: 5%;">I learned a lot through the development of Seed & Soil. For one thing, it’s impossible to make too many
        iterations of a prototype because problems will always arise. However, it’s important to keep in mind that the
        goal of creating any product is to improve someone’s life in some way. As long as a product can accomplish this,
        with as few bugs as possible, then I would consider that a success. </p>

    <p>The next steps for Seed & Soil will be teaming up with software developers in order to start building the back
        end of this product. That will mean more testing with users, and likely more design changes and multiple
        prototypes! I’m looking forward to the future of this product.</p>

    {{ $image := resources.Get "growth.png" }}
    <img style="width: 40%; margin-bottom: 5%; margin-top: 10%" src="{{ $image.RelPermalink }}" width="{{ $image.Width }}"
        height="{{ $image.Height }}" alt="">

</div>