<div class="section-container">
    <p class="section-header">User Stories</p>
    <p>Using the How Might We statements, I created user stories in order to brainstorm the best approach to take for
        the development of the product. This step was crucial for exploring ways to create seamless experiences for the
        user.
    </p>
    <p style="margin-bottom: 2%">“Epics,” which were overarching stories based on the problem statements, were explored
        in detail by finding
        step-by-step solutions for them. These solutions were then expanded on in order to get a more holistic view of
        the possible solutions.
    </p>
</div>
{{ $image := resources.Get "capstone_user_stories.png" }}
<img style="width: 100%; margin-bottom: 5%" src="{{ $image.RelPermalink }}" width="{{ $image.Width }}"
    height="{{ $image.Height }}" alt="">