<div class="section-container light-grey-background">
    <p class="section-header">Wireflows</p>
    <p>The low-fidelity red routes were made into high-fidelity red routes using Figma. These versions utilized the
        input from user interviews from both the low-fidelity and high-fidelity prototypes. </p>

    <p class="section-header" style="align-self: baseline; margin-bottom: -1%;">Red Route 1</p>
    <p class="grey-text" style="font-size: 1.25em">Save a plant profile and navigate to “saves” menu</p>
    {{ $image := resources.Get "seed_and_soil_hifi_rr_1.png" }}
    <img style="width: 100%;" src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="">

    <p class="section-header" style="align-self: baseline; margin-bottom: -1%;">Red Route 2</p>
    <p class="grey-text" style="font-size: 1.25em">Make a comment in the community forums</p>
    {{ $image := resources.Get "seed_and_soil_hifi_rr_2.png" }}
    <img style="width: 100%;" src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="">

    <p class="section-header" style="align-self: baseline; margin-bottom: -1%;">Red Route 3</p>
    <p class="grey-text" style="font-size: 1.25em">Add a plant to the calendar</p>
    {{ $image := resources.Get "seed_and_soil_hifi_rr_3.png" }}
    <img style="width: 100%;" src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="">
</div>