<div class="section-container">
    <p class="section-header">Information Architecture</p>
    <p style="margin-bottom: 5%;">Before diving into the low-fidelity prototypes, I created a very bare-bones site map that would reflect the
        consolidation of the current content on the Neustreet website. The navigation had several categories that were
        redundant. For instance, the Ideas, Learn, and Insights categories could have all been unified, as well as the
        Newsletters and Podcasts categories. However, because the team decided that they wanted to move away from having
        so much Media content on their website, some of these categories were removed completely.</p>
    {{ $image := resources.Get "neustreet_2.png" }}
    <img style="width: 100%;" src="{{ $image.RelPermalink }}" width="{{ $image.Width }}"
        height="{{ $image.Height }}" alt="Screenshot of Neustreet website">
        <span style="font-style:italic; align-self:baseline">Screenshot of original website</span>
</div>