<div class="section-container light-grey-background">
    <p class="section-header">Low-Fidelity Prototype</p>

    



    <p style="margin-bottom: 2%;">Using the site maps and the first user flow, I developed a low-fidelity prototype to present to my team. I created the prototype using a grayscale scheme so that we could focus on the layout instead of the color, something we would incorporate later. </p>

    <p style="margin-bottom: 2%;">I took inspiration from the websites that I used in the competitive analysis. Despite being reviewed specifically for an API page, I was still able to use the information I synthesized from the analysis for our Homepage and a Data Insights page. I created them in desktop, tablet, and mobile formats. 
    </p>

    <p>We had not decided on a consistent theme for imagery yet, so I put placeholders where all the images could be included in future iterations.</p>

    <p style="font-size: 1.25em">Desktop Homepage</p> 


    {{/*  {{ $image := resources.Get "neustreet_user_flow_2.png" }}
    <img style="width: 100%;" src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}"
        alt="">  */}}

</div>